<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
		<h1>User Demonstrate System Developed By Satyam Dixit</h1>
		<hr>
		<h2>Update User Record</h2>

		<form action="#" th:action="@{/saveUser}" th:object="${users}"
			method="Post">
			<input type="text" th:field=*{name} placeholder="User Name"
				class="form-control mb-4 col-4" /> <input type="text"
				th:field=*{email} placeholder="User Email"
				class="form-control mb-4 col-4" /> <input type="text"
				th:field=*{phno} placeholder="User Name"
				class="form-control mb-4 col-4" /> <input type="text"
				th:field=*{address} placeholder="User Name"
				class="form-control mb-4 col-4" /> <input type="text"
				th:field=*{status} placeholder="User Name"
				class="form-control mb-4 col-4" />
			<button type="submit" class="btn btn-info col-2">Save User
				Record</button>
		</form>
	</div>
</body>
</html>